<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NinjaDomainConnectionString" connectionString="server=(local); Database=NinjaDomain; UseTrustedConnection=true; Connection Timeout=180" providerName="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
  </connectionStrings>
</configuration>